@import 'reset';
@import 'mixins';

body{
    min-height: 300vh;
}

.Header{

    @include basicValues( 10vh , 100% , transparent );
    @include displayFlex( flex , row nowrap , space-between , center);

    padding: 1rem 2rem;

    position: fixed;
    z-index: 2;

    &-h1{

        max-width: 10rem;

        @media(max-width: 480px ){
            max-width: 5rem ;
        }
    }

    &-img{
        @include imageFit;
    }

    &-nav{
        
    }
    &-ul{
        @include displayFlex(flex , column nowrap , space-between , center );

        gap: 5px ;
    }
    &-li{
        
        @include ElmhurstBoldFont;

        background-color: white ;
        color: #EF4677;
        // border: 2px solid #EF4677;
        // border-radius: 5px;
        margin: 0.5rem ;

        padding: 0 0.5rem;

        mix-blend-mode: difference ;

        pointer-events: all ;
        cursor: pointer;


        &:hover{
            background-color: #EF4677  ;
            color: white ;
            text-decoration: underline;
        }

        @media(max-width: 480px){
            font-size: 0.8rem ;
            padding: 0.2rem ;

        }

        @media(min-width: 700px){
            font-size: 1rem ;
        }

        @media(min-width: 700px){
            font-size: 2rem ;
        }

    }
    
}


.Main{

    @include basicValues( 100vh , 100% , yellow );
    @include displayFlex( flex , column nowrap , center , center);

    position: fixed ;
    pointer-events: none ;

    &-wrapper{
        @include basicValues( 100vh , 100% , transparent );
        @include displayFlex( flex , column nowrap , center , center);

        background-image:url(../assets/fondo-desktop.jpeg);
        background-position: center ;
        background-repeat: no-repeat ;
        background-size: cover ;
    
        height: 100vh ;
        position: relative;
    }
    &-background{
        width: 100%;
        position: fixed ;
        &-video{
            width: 100%;
            object-fit: cover;
        }
    }
    &-container{
        @include basicValues(100vh , 100% , transparent );
        @include displayFlex(flex , row nowrap , center , center );
        
        
        position: absolute;
    }
    &-scrolls{
        @include basicValues(50vh , 80% , transparent );
        @include displayFlex(flex , row nowrap , center , center);
        
        position: relative;
        z-index: 3;
        // top: calc(50vh - 30vh);
        // left: calc(50% - 40%);
        transform: scale(100%);

        @media(min-width: 1600px){
        }

        &-img{
            @include imageFit;
            max-width: 40rem;

            @media(min-width: 1600px){
                max-width: 80rem ;
                
            }
        }
    }
    &-angels{
        @include basicValues( 40vh , 100% , transparent );
        
        position: absolute;
        z-index: 4;
        top: 0;

        pointer-events: none;
        // left: calc(50% - 40%);
        
        &-img{

            @include basicValues(30vh , calc(100%/3) , yellow );
            @include imageFit;
            max-width: 40rem;
            position: absolute;
            
            top: calc(50vh - 20rem);

            &--der{
                background-color: transparent;
                right: 5rem ;
            }
            &--izq{
                background-color: transparent;
                left: 5rem ;    
            }
            @media (max-width: 1500px) {
                max-width: 20rem;
                top: calc(50vh - 10rem);
              }
        }
    }
    &-tv{
        @include basicValues(30vh , 50% , transparent);
        @include displayFlex(flex , column nowrap , flex-start , center);
        
        position: absolute;
        z-index: 2;
        top: calc(50vh - 15vh);
        left: calc(50% - 25%);

        pointer-events: none;
        
        
        &-container{
            position: relative;
            z-index: 3;
            width: 50%;
            min-height: 30vh ;
            background-color: transparent;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
        &-gif{
            @include imageFit;
            
            max-width: 12rem;

            @media(min-width: 1600px){
                max-width: 20rem ;
            }
        }
        &-img{
            position: absolute;
            @include imageFit;
            max-width: 20rem;

            @media(min-width: 1600px){
                max-width: 40rem ;
            }
        }
        &-link{
            background-color: red;
            padding: 0.5rem 1rem;

            position: absolute;
            top: 15vh ;
            left: calc(50% - 60px);

            opacity: 0;
            transition: opacity 0.5s ease ;
            
            pointer-events: all ;
            cursor: pointer;

            &:hover{
                background-color: white;
                color: red;
            }
        }
    }
}

.isActive{
    opacity: 1;
}
