@import 'reset.scss';
@import 'mixins.scss';


body{
    min-height: 300vh;
}

.Header {
    @include basicValues(10vh , 100% , transparent);

    position: fixed;
    z-index: 2;

    &-wrapper {
        @include displayFlex(flex , row nowrap , space-between , center);

        justify-content: space-between;
        padding: 2rem ;
    }

    &-h1{

        max-width: 10rem;

        @media(max-width: 480px ){
            max-width: 5rem ;
        }
    }

    &-img{
        @include imageFit;
    }

    &-nav {
        // Agrega estilos según sea necesario
    }

    &-ul {
        // Agrega estilos según sea necesario
    }

    &-li{
        
        @include ElmhurstBoldFont;

        background-color: white ;
        color: #EF4677;
        // border: 2px solid #EF4677;
        // border-radius: 5px;
        margin: 0.5rem ;

        padding: 0 0.5rem;

        mix-blend-mode: difference ;

        pointer-events: all ;

        &:hover{
            background-color: #EF4677  ;
            color: white ;
            text-decoration: underline;
        }

        @media(max-width: 480px){
            font-size: 0.8rem ;
            padding: 0.2rem ;

        }

        @media(min-width: 700px){
            font-size: 1rem ;
        }

    }
}

.Main {
    @include basicValues(100svh , 100% , yellow);
    @include displayFlex(flex , row nowrap , center , center );

    align-items: center;
    position: fixed;


    #Main-canvas {
    
        @include basicValues(100vh , 100%, transparent);

        position: fixed ;
        object-fit: cover ;

        &.isScrolled{
            width: 100%;
        };
    
    }

    &-bg {

        @include basicValues(100vh, 100% , transparent);

        background-image: url(../assets/bg-mobile.jpeg);
        background-repeat: no-repeat ;
        background-position: center;
        background-size: cover ;

    }

    &-link{

        font-size: 2rem;
        position: absolute;
        z-index: 3;
        background-color: yellow;
        padding: 1rem 2rem;
        
        opacity: 0;
        transition: opacity 0.5s ease;

        
    
    }
}

.isActive{
            opacity: 1;
        }
